# **Codig Dojo**: GroupBy
## Creado por: Alejandro Acosta

- Fecha de creación: 2022-01-15
- Fecha de modificación: 2022-01-15
- Descripción: Ejercicio GroupBy

In [128]:
import pandas as pd
import numpy as np

In [129]:
df = pd.read_csv('CalIt2.csv', header=None)

In [130]:
df.head()

   0         1         2  3
0  7  07/24/05  00:00:00  0
1  9  07/24/05  00:00:00  0
2  7  07/24/05  00:30:00  1
3  9  07/24/05  00:30:00  0
4  7  07/24/05  01:00:00  0

In [131]:
df.columns = ['ID_Flujo', 'Fecha', 'Hora', 'Conteo']

In [132]:
df.head()

   ID_Flujo     Fecha      Hora  Conteo
0         7  07/24/05  00:00:00       0
1         9  07/24/05  00:00:00       0
2         7  07/24/05  00:30:00       1
3         9  07/24/05  00:30:00       0
4         7  07/24/05  01:00:00       0

In [133]:
df['Fecha'] = df['Fecha'].astype('datetime64')

In [134]:
filtro = df['Fecha'] >= '2005-07-24'

df1 = df[filtro]

In [135]:
df1 = df1.sort_values('Conteo', ascending=False).head(10)

In [136]:
df1['Conteo'] = df1.Conteo.apply(lambda x: x - df1.Conteo.min())

In [137]:
df1

      ID_Flujo      Fecha      Hora  Conteo
6879         9 2005-10-03  15:30:00      12
335          9 2005-07-27  11:30:00      11
6881         9 2005-10-03  16:00:00       5
9682         7 2005-11-01  20:30:00       4
9686         7 2005-11-01  21:30:00       4
9681         9 2005-11-01  20:00:00       3
6878         7 2005-10-03  15:30:00       2
9933         9 2005-11-04  11:00:00       0
3615         9 2005-08-30  15:30:00       0
8913         9 2005-10-24  20:00:00       0

In [127]:
df1['Conteo'].mean()

4.1

In [143]:
df2 = df[(df.Fecha.dt.month==8)&(df.Fecha.dt.year==2005)&(df.ID_Flujo==7)]

In [144]:
df2

      ID_Flujo      Fecha      Hora  Conteo
768          7 2005-08-01  00:00:00       1
770          7 2005-08-01  00:30:00       0
772          7 2005-08-01  01:00:00       0
774          7 2005-08-01  01:30:00       0
776          7 2005-08-01  02:00:00       0
...        ...        ...       ...     ...
3734         7 2005-08-31  21:30:00       0
3736         7 2005-08-31  22:00:00       2
3738         7 2005-08-31  22:30:00       1
3740         7 2005-08-31  23:00:00       0
3742         7 2005-08-31  23:30:00       2

[1488 rows x 4 columns]

In [146]:
df2.groupby('Fecha')['Conteo'].max()

Fecha
2005-08-01    18
2005-08-02    16
2005-08-03    26
2005-08-04    40
2005-08-05    17
2005-08-06     8
2005-08-07     3
2005-08-08    16
2005-08-09    19
2005-08-10    25
2005-08-11    16
2005-08-12    21
2005-08-13     5
2005-08-14     3
2005-08-15    17
2005-08-16    24
2005-08-17    22
2005-08-18    39
2005-08-19    23
2005-08-20     3
2005-08-21     4
2005-08-22    23
2005-08-23    25
2005-08-24    17
2005-08-25    24
2005-08-26    22
2005-08-27     3
2005-08-28     7
2005-08-29    15
2005-08-30    47
2005-08-31    19
Name: Conteo, dtype: int64